body {
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 400px;
    font-size: 20px;
    padding: 2px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 24px;
}

hr {
    margin: 20px auto;
}

.post + .post {
    margin-top: 20px;
}

.post-title {
    font-weight: bold;
    font-size: 20px;
}

.post-body {
    margin: 0;
    font-size: 17px;
}

.post-author {
    font-style: italic;
    font-size: 12px;
}

nav ul {
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav #user-account {
    float: right;
}
