<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>

	<h1>Customer Information</h1>
	<h2>General</h2>
	<table>
		<tr>
			<td><label>Phone Number</label></td>
			<td><label th:text = "${customer.phoneNumber}"></label></td>
		</tr>
		<tr>
			<td><label>First Name</label></td>
			<td><label th:text = "${customer.firstName}"></label></td>
		</tr>
		<tr>
			<td><label>Last Name</label></td>
			<td><label th:text = "${customer.lastName}"></label></td>
		</tr>
		<tr>
			<td><label>Email</label></td>
			<td><label th:text = "${customer.email}"></label></td>
		</tr>
			
	</table>
	<p><a href="'/updatecustomer/'+${customer.uid}">Update Customer</a></p>
	
	<form method="post">
		<table>
			<tr>
				<td><label for="phoneNumber">Customer Phone Number</label></td>
				<td><input name="phoneNumber" type="text"
					th:value="${phoneNumber}"></input></td>
			</tr>
			<tr>
				<td></td>
				<td><span class="error" th:text="${phoneNumber_error}"></span>
				</td>

			</tr>

		</table>
		<button type="submit">Lookup</button>
	</form>
 <p><a href="/createcustomer">Create a new customer!</a></p>

</body>
</html>