<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

	<div th:replace="template :: navigation"></div>

	<h1>Employee Login</h1>
    <p class="error" th:text="${error}"></p>
    <form method="post">
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" th:value="${username}"></input>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password"></input>
                </td>
            </tr>
        </table>
        <button type="submit">Log In</button>
    </form>
    <p>Don't have an account? <a href="/registeremployee">Register Employee!</a></p>

</body>
</html>